<h2 align="center">Editar Usuario</h2>

<%= form_for @user do |f| %>
  <%= devise_error_messages! %>
<div class="row">
<div class="col-lg-2">
 </div>
 
<div class="col-lg-7">
<div><%= f.label :name, "Nombre" %><br />
  <%= f.text_field :name, :autofocus => true,:class=>'form-control' %></div>
  <div><%= f.label :lastname, "Apellido" %><br />
  <%= f.text_field :lastname, :autofocus => true,:class=>'form-control' %></div>
  <div><%= f.label :phone, "Telefono" %><br />
  <%= f.text_field :phone, :autofocus => true,:class=>'form-control' %></div>
  <div><%= f.label :address, "Direccion" %><br />
  <%= f.text_field :address, :autofocus => true,:class=>'form-control' %></div>
  <div><%= f.submit "Actualizar" %></div>
<% end %>


<%= link_to "Atras", :back %>
</div>
</div>






