
<h2><%= @category.nombre %></h2></br>
<h4><%= @selected_subcategory.name %><%if(current_user!=nil && current_user.rol=='admin')%>
<%= form_for @selected_subcategory, :html => {:method => 'delete'} do |t| %>
                    <input type="submit" value="Eliminar" class="btn btn-danger" onClick="return confirm('Atencion! se eliminaran todas los productos en esta subcategoria, esta seguro?');">
                  <%end%>

 <a href="/products/new/<%=@selected_subcategory.id%>" align="center"><button type="button" class="btn btn-primary">Nuevo producto</button></a>
<a href="/subcategories/edit/<%=@selected_subcategory.id%>"><button type="button" class="btn btn-primary">Editar Sub-categoria</button></a>

  <%end%></h4></br>



<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
    
        <th>Imagen </th>
         <th>Nombre  </th>
        <th>Precio </th>
        <th>Stock</th>
      
     
    </tr>
  </thead>
  <tbody>
   <% @products.each do |product| %>
    <tr style='cursor:pointer' onclick="document.location.href='/categories/<%=@category.id.to_s%>/<%=@selected_subcategory.id.to_s%>/<%=product.id.to_s%>'">
          <td> <%if(product.pictures.size>0)%>
            <img src="<%=product.pictures.first.picture.url%>" heigth="100" width="100"/>
          <%end%></td>

          <td>
          <FONT FACE="raro, courier" SIZE=5 COLOR="gray"> <%=product.name%><br> </FONT>
          <SUB>codigo: <%=product.code %></SUB>
        </td>
        <%if(!current_user.nil?)%>
        <td><%=  product.price %></td>
        <%else%>
         <td> Ingrese al sistema </td>
        <%end%>
        <td><%=product.stock%></td>
      </tr>
      <%end%>
  </tbody>
</table>







