
<div class="row">
	<div class="col-lg-2"></div>
	<div class="col-lg-8">
		<h3>Nuevo Producto</h3>
<%= form_for @new_product, :html => { :class => 'bs-example form-horizontal', :multipart => true}  do |t| %>
Nombre: <%=t.text_field :name,:class=>'form-control'%><br>
Codigo: <%=t.text_field :code,:class=>'form-control'%><br>
Marca: <%=t.text_field :brand,:class=>'form-control'%><br>
Precio: <%=t.text_field :price,:class=>'form-control'%><br>
Stock: <%=t.text_field :stock,:class=>'form-control'%><br>
<%=t.file_field :picture,:multiple=>true,:class=>'form-control'%><br>
<%= t.hidden_field :subcategory_id,:value=>@new_product.subcategory_id%>
<input type="submit" value="Registrar">
<%end%>
</div>
</div>