<div class="row">
	<div class="col-lg-4">
		<h2 align="center">Presione para ver imagen:</h2>
		<%if(@pictures.size>0)%>
    		<% @pictures.each do |picture| %>

      <a href="<%=picture.picture.url%>" rel="group1" data-colorbox-static="true" class="cboxElement"><img src="<%=picture.picture.url%>"  heigth="100" width="100"/></a>
   			 <%end%>
			<%end%>
	</div>
	<div class="col-lg-4">
		<% if current_user!=nil && current_user.rol=="regular" %>
			<h2 align="center">Añadir al carrito</h2>
		<%end%>
		
		<div class="page-header">
		<h2 align="center" id="forms"><%=@product.name%></h2>
		</div>
	
		<table class="table table-striped table-bordered">
			<tr>
				<td>Precio</td><td><%=@product.price%></td>
			</tr>
			<tr>
				<td>Marca</td><td><%=@product.brand%></td>
			</tr>
			<tr>
				<td>Stock</td><td><%=@product.stock%></td>

			</tr>
		</table>
		<%= social_share_button_tag("My Site", :rel => "twipsy") %>

		</a>
		<%= like_button(582929041818077) %>
		<% if current_user!=nil && current_user.rol=="admin" %>
		<li><a href="/products/edit/<%=@product.id%>"><button type="button" class="btn btn-default">Editar producto</button></a></li>


                  <li><%= form_for @product, :html => {:method => 'delete'} do |t| %>
                    <input type="submit" value="Eliminar" class="btn btn-danger" onClick="return confirm('Atencion! se eliminaran todas las imagenes referentes a este producto, esta seguro?');">
                  <%end%></li>
                  <%else%>
                  <h5>Tiempo de entrega: 2 dias laborales</h5>
                  <li>
                  		<%= form_for @order do |t| %>
                  			<td>Cantidad&nbsp;</td><td><%=t.text_field :amount,:size=>"7" %> de <%=@product.stock%> disponibles.<%=t.hidden_field :product_id,:value=>@product.id %></td><br>
                  			<table align="center" style="background: orange">
                  			<td >
                  				&nbsp;ADD<br>
                  			<input type="image"  src="/assets/carrito.png" alt="Submit Form" height="35" width="35"/>
                  		</td>
                  	</table>
                  		<%end%>

                  </li>
          <%end%>
	</div>
</div>