<h1>Mis ubicaciones</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Numero</th>
      <th>Direccion</th>
      <th>Longitud</th>
      <th>Latitud</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.number %></td>
        <td><%= location.address %></td>
        <td><%= location.longitude %></td>
        <td><%= location.latitude %></td>
        <td><%= link_to 'Editar', edit_location_path(location),'data-no-turbolink' => true %></td>
        <td><%= link_to 'Ver', '/locations/'+location.id.to_s,'data-no-turbolink' => true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

    <%if current_user.rol!='admin'%>
<%= link_to 'Nueva ubicacion', new_location_path,'data-no-turbolink' => true %>
<%end%>